# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Caer has been originally written by Jason Dsouza.
# This CODEOWNERS file is only to make sure that @jasmcaus is requested
# for a code review in case of a pull request.

* @jasmcaus
