[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.join(os.path.dirname(find_pylintrc()), 'caer'))"

[MESSAGES CONTROL]
disable=R,C,no-member,too-many-function-args,invalid-name,undefined-all-variable,broad-except,protected-access,c-extension-no-member