include setup.cfg
include .github/CONTRIBUTING.md
include LICENSE
include README.md
include INSTALL.md 
include CONTRIBUTORS 

recursive-include caer/data *
recursive-include caer *.pyx *.pxd *.pxi *.py *.c *.h *.ini *.npy *.txt *.in *.cpp *.md

recursive-exclude * __pycache__