{%- set external_urls = {
  'github': 'https://github.com/jasmcaus/caer',
  'github_issues': 'https://github.com/jasmcaus/caer/issues',
  'contributing': 'https://github.com/jasmcaus/caer/blob/master/CONTRIBUTING.md',
  'docs': 'https://caer.readthedocs.io/en/latest',
  'twitter': 'https://twitter.com/jasmcaus',
  'discuss': 'https://github.com/jasmcaus/caer/discussions',
  'tutorials': 'https://github.com/jasmcaus/caer/blob/master/examples',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://github.com/jasmcaus/caer',
  'get_started': 'https://github.com/jasmcaus/caer',
  'features': 'https://github.com/jasmcaus/caer/blob/master/README.md',
  'blog': 'https://jasmcaus.medium.com',
  'resources': 'https://github.com/jasmcaus/caer/discussions',
  'support': 'https://github.com/jasmcaus/caer/discussions',
}
-%}
