{%- set external_urls = {
  'github': 'https://github.com/jasmcaus/caer',
  'github_issues': 'https://github.com/jasmcaus/caer/issues',
  'contributing': 'https://github.com/jasmcaus/caer/blob/master/CONTRIBUTING.md',
  'docs': 'https://caer.readthedocs.io/en/latest',
  'twitter': 'https://twitter.com/jasmcaus',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://github.com/jasmcaus/caer',
  'get_started': 'https://github.com/jasmcaus/caer',
  'features': 'https://pytorch.org/features',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
}
-%}
